$text-blue: #0066cc;
$button-blue: #0071e3;
$background-blue: #2997ff;

.App {
  background-color: #fbfbfd;
  min-width: 360px;
}
::-webkit-scrollbar {
  background-color: lightgrey;
  padding-top: 20px;
  width: 12px;
}

::-webkit-scrollbar-track {
  margin-block: 8px;
  background-color: lightgrey;
}
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4d4d4d;
}