@import "../Variables/variables.scss";

.Content {
  background-color: $background-white;

  .wrapper {
    min-height: 400px;
    max-width: $max-width;
    padding: 0 22px;
    margin: auto;
    color: $title-black;
    text-align: center;
    .headline {
      margin: 55px 0 0 0;
      font-size: 3.5em;
      line-height: 1.1;
      font-weight: 600;
    }
    .subhead {
      margin: 6px 0 0 0;
      font-size: 1.75em;
      line-height: 1.1;
      font-weight: 400;
    }
    .link {
      display: inline-block;
      font-size: 1.25em;
      line-height: 1.381;
      font-weight: 400;
      margin-top: 0.65em;
      color: $text-blue;
      a:hover {
        text-decoration: underline;
      }
      ::after {
        content: " ›";
      }
      :nth-child(2) {
        margin-left: 35px;
      }
    }
    .image_wrapper {
      background-color: $background-white;
      height: 3px;
      img {
        filter: brightness(0.99);
        clip-path: inset(20px);
      }
    }
  }
}
