@import "../Variables/variables.scss";

.Filter {
	border-radius: 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
	margin-bottom: 1em;
	max-width: 760px;
	li {
		list-style: none;
		word-break: keep-all;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: #000;
		background: #eff1f4;
		height: 2.5em;
		border-radius: 2em;
		padding: 0 1em;
		transition: filter 300ms, color 300ms, background 300ms;
		&:hover {
			filter: brightness(0.9);
		}
	}
	.selected {
		color: #fff;
		background: #eb0026;
	}
}

@media all and (max-width: 767px) {
	.Filter {
		font-size: 12px;
	}
}
