@import "../Variables/variables.scss";

$red: #e63740;

.Login {
	width: 480px;
	// min-height: 451px;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	.banner {
		position: relative;
		width: 100%;
		.ad {
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			width: 100%;
			height: 73.3px;
			background-color: $red;
		}
		.close {
			$width: 1.2rem;
			position: absolute;
			cursor: pointer;
			top: 0;
			right: 0;
			background-color: rgba($background-grey, 0.5);
			width: $width;
			height: $width;
			display: flex;
			&:before,
			&:after {
				position: absolute;
				top: 0;
				right: calc($width/2);
				width: 1px;
				height: 100%;
				content: "";
				background-color: #fff;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
	.content {
		width: 100%;
		padding: 8px 20px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		.top {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.tab {
				color: lightgrey;
				font-weight: bold;
				font-size: 0.9em;
				cursor: pointer;
				padding: 0.75rem;
				width: 100%;
				background-color: $white;
				border: 1px solid lightgrey;
				border-left: 1px solid lightgrey;
				border-bottom: 1px solid $red;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.active {
				background-color: white;
				border: 1px solid $red;
				border-bottom: 1px solid white;
				color: $red;
			}
		}
		.hr {
			font-weight: bold;
			opacity: 0;
			&:before,
			&:after {
				border-top: 1px solid $red;
				content: "a";
				background-color: black;
				width: 100%;
				height: 1px;
				z-index: 1;
			}
		}
		.sns {
			display: flex;
			justify-content: space-around;
			width: 100%;
			img {
				transition: transform 300ms;
				width: 50px;
				height: 50px;
				border-radius: 100%;
				cursor: pointer;
				&:hover {
					filter: brightness(1.1);
				}
			}
		}
		form {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 1em;
			.inputsAndSubmit {
				width: 100%;
				display: flex;
				gap: 8px;
				.inputs {
					flex: 2;
					input {
						padding: 1em;
						width: 100%;
						border: 1px solid lightgrey;
						font-size: 0.8em;
						&:first-child {
							margin-bottom: 4px;
						}
					}
				}
				.button {
					flex: 1;
					background-color: $background-grey;
					color: white;
					border: none;
					font-size: 1em;
					cursor: pointer;
					font-weight: bold;
				}
			}
			.checkboxAndFind {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: $title-black;
				.checkbox {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 4px;
					align-self: flex-start;
					background-color: #fff;
					font-size: 0.8em;
					label {
						cursor: pointer;
					}
				}
				.find {
					font-size: 0.8em;
					a {
						&:first-child::after {
							margin: 1em;
							content: "|";
						}
					}
				}
			}
			.termsAndCondition {
				color: $title-black;
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
				font-size: 0.75em;
			}
		}
	}
}

@media all and (max-width: 500px) {
	.Login {
		font-size: 14px;
		width: 320px;
		.content {
			form {
				gap: 0.5em;
				.checkboxAndFind {
					flex-direction: column;
					gap: 0.5em;
				}
			}
		}
	}
}
