@import "../Variables/variables.scss";

.Qna {
  background-color: $black;
  .wrapper{
    margin: auto;
    max-width: $max-width;
    padding: 2rem 1rem;
    text-align: center;
    color: $white;
    h2 {
      margin-bottom: 1em;
    }
    details {
      margin: 12px auto;
      padding: 1.5em;
      width: 60%;
      min-width: 340px;
      background-color: $background-lightgrey;
      text-align: left;
      summary {
        cursor: pointer;
        font-size: 1.2em;
      }
      div {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid $black;
        font-size: 1em;
      }
    }
  }
}



@media all and (max-width:767px) { 
  .Qna{
    font-size:12px;
  }
}