@import '../Variables/variables.scss';

.Ribbon{
  width: 100%;
  background-color: #F8F8F9;
  overflow: hidden;
  .wrapper{
    background-color: $background-blue;
    color:white;
    text-align: center;
    padding: 1em 0;
    font-size: 14px;
    animation: moveDown 1s, background 1s 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;  
    .link{
      margin-left: 8px;
      animation: blue 1s 2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;  
    }
  }
}

@keyframes moveDown {
  0%{
    transform: translateY(-100%)  ;
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes background {
  100%{
    background-color: #F8F8F9;
    color:$title-black;
  }
}
@keyframes blue {
  100%{
    color:$text-blue;
  }
}