@import "../Variables/variables.scss";

.WebtoonDetail {
  width: 100%;
  background-color: grey;
  margin: auto;
  padding: 1em;
  .wrapper {
    width: $max-width;
    border: 1px solid grey;
    padding: 1em;
    margin: auto;
    .detail {
      display: flex;
      margin-bottom: 10px;
      .imageAndButtons {
        width: 400px;
        .image {
          position: relative;
          font-size: 2em;
          img {
            width: 100%;
          }
          .heart {
            position: absolute;
            top: 0;
            right: 4px;
            color: grey;
            cursor: pointer;
          }
          .trash {
            position: absolute;
            right: 4px;
            bottom: 8px;
            color: grey;
            cursor: pointer;
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          gap: 0.25em;
        }
      }
      .table {
        margin: 0 auto;
        width: 100%;
        padding: 0 1em;
        font-size: 1em;
        color: black;
        // display: flex;
        // flex-direction: column;
        .title {
          background-color: grey;
          font-size: 1.25em;
          font-weight: bold;
          color: white;
          text-align: center;
          padding: 0.5em 1em;
          border-radius: 6px;
        }
        .tr {
          margin: 1em 0;
          display: flex;
          padding-left: 6px;
          .th {
            min-width: 130px;
          }
          .td {
            flex: 1;
            .genre {
              background-color: grey;
              padding: 4px 12px;
              margin: 0 4px;
              border-radius: 16px;
              color: white;
              cursor: pointer;
            }
            .stat {
              margin-right: 12px;
            }
          }
        }
      }
    }
    .synopsis {
      border-top: 1px solid grey;
      padding: 0.5em;
      :first-child {
        font-weight: bold;
      }
    }
  }
  background-color: #fff;
}
