@import '../Variables/variables.scss';

.WebtoonDetail{
  background-color: $title-black;
  padding: 1rem;
  .wrapper{
    background-color: $white;
    max-width: calc($max-width *0.5 );
    padding: 2rem;
    margin: auto;
    border-radius: 6px;
    color: $title-black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .img_wrapper{
      position: relative;
      margin:auto;
      img{
        width:100%;
        object-fit: contain;
      }
      .bookmark{
      position:absolute;
      font-size: 2.5em;
      top:-1rem;
      right: 1rem;
      color:orangered;
      }
      .trashcan{
        position:absolute;
        font-size: 3em;
        bottom: 4px;
        right: 12px;
        color:grey;
        opacity: 0.4;
      }
      i:hover{
        cursor: pointer;
        filter:brightness(1.2);
        transition: filter 300ms;
      }
    }
    table{
      border-collapse: collapse;
      width: 100%;
      tbody{
        tr{
          td{
            border: 1px solid black;
            text-align: center;
            // text-align: start;
            padding: 0 12px 4px;
          }
        }
      }
    }
    .buttons{
      width: 100%;
      display: flex;
      gap: .5em;
      margin-top: .5em;
    }
  }
}
@media all and (max-width:767px) { 
  .Webtoons_id{
    font-size:12px;
    .info{
      flex-direction: column;
    }
  }
}