@import "../Variables/variables.scss";

.Webtoon {
    position: relative;
    figure{
      .cover {
        max-width: 125px;
        max-height: 100px;
        aspect-ratio: 125 / 100;
        object-fit: cover;
        border-radius: 4px;
      }
      .title {
        position: absolute;
        bottom: 4px;
        width: 100%;
        line-height: 1.25em;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 0.8em;
        padding: 4px 2px;
        text-align: center;
        color: #ffffff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    .tag {
      width: 100%;
      position: absolute;
      justify-content: space-between;
      display: flex;
      top: 0;
      .update {
        height: 100%;
        padding: .2em;
        font-size: .5em;
        color: #ffffff;
        background-color: $red;
        opacity: 0.7;
        border-top-right-radius: 4px;
      }
  }
}
