@import "../Variables/variables.scss";

.WebtoonsList {
  background-color: white;
  max-width: $max-width;
  margin: 12px auto;
  padding: 1rem .5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  h2 {
    padding-bottom: 1rem;
  }
  .webtoons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
  }
}
@media all and (max-width:767px) { 
  .NaverList  {
    font-size: 12px;
  }
}